* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.center{
  max-width: 1440px;
  width: 100%;
  margin: 50px auto;
  padding: 0 3%;
}

body {
  background-color: #fffae4;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #fcfcfc;
  transition: background-color 0.2s;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #00000040;
}
  
.header .center{
  position: relative;
  top: -37px;
}
  
.scrolled {
  background-color: #fcfcfc;
}
  
nav.navLinks {
  display: flex;
  align-items: center;
}
  
.logo{
  width: 120px;
  margin-right: 30px;
}
  
.nav-links{
  display: flex;
  align-items: center;
  width: 100%;
}
  
.nav-links ul{
  list-style: none;
  flex: 2;
}
  
.nav-links ul li{
  display: inline-block;
  margin-right: 30px;
}
  
.nav-links ul a {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
}
  
.nav-links ul a:hover {
    color: #1345e8;
}
  
.menu-2 {
  display: flex;
  width: 190px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
  
.menu-2 img {
  height: 20px;
  cursor: pointer;
}
  
.menu-2-login {
  border: none;
  background-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  border-radius: 3px;
  cursor: pointer;
  }
  
.menu-2-login:hover {
  color: #1345e8;
  border-color: #1345e8;
}

.menu-2-nova-conta {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
}

.menu-2-nova-conta:hover {
  opacity: 0.9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  padding: 5px;
  width: 130px;
  z-index: 1;
  border-radius: 3px;
}
  
.dropdown-content a {
  margin-top: 10px;
  color: #000000;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-family: Space grotesk;
}
  
.dropdown-content a:hover {
  color: #002dc0;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.menu-mobile,
.menu-close{
  display: none;
  cursor: pointer;
}

.menu-mobile{
  background: url('../img/icons8-menu.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
}

.menu-close{
  background: url('../img/icons8-close.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.espaco-header {
  height: 65px;
}

.conta {
  display: flex;
  margin: 100px auto;
  justify-content: center;
}

.usuario {
  font-family: Space grotesk;
  width: 350px;
}

.meus-cursos {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 30px;
}

h2 {
  font-size: 26px;
  margin-bottom: 30px;
  color: #000000;
  display: flex;
}

h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Inter;
  color: #000000;
}

form {
  font-family: Inter;
}

label {
  font-size: 13.5px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: Inter;
  color: #000000;
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #00000080;
  margin-bottom: 20px;
}

.usuario button {
  width: 100%;
  background-color: #1345e8;
  font-family: Space grotesk;
  font-size: 16px;
  color: white;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.usuario button:hover {
  opacity: 0.9;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #555;
}

.cursos-destaque {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

.cursos {
  width: 100%;
  margin-left: 20px;
}

.cursos-destaque h5 {
  font-size: 26px;
  font-weight: 600;
  font-family: Space Grotesk;
}

.grade-cursos-destaque {
  display: flex;
  height: 250px;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 30px;
}

.grade-cursos {
  width: 100%;

  margin-bottom: 80px;
  text-decoration: none;
}

.curso-destaque {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.curso-destaque img:hover {
  opacity: 0.95;
}

.cursos-destaque img {
  width: 100%;
  padding: auto;
  height: 155px;
}

.curso {
  gap: 20px;
  width: 100%;
  height: 170px;
  padding-top: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #00000040;
  display: flex;
}

.curso:hover {
  transition: 0.1s;
  opacity: 0.9;
}

.curso-link {
  text-decoration: none;
  display: flex;
  width: 100%;
}

.curso-text {
  height: max-content;
  display: block;
}

.curso-text legend {
  width: 590px;
  font-size: 14px;
  margin-top: 10px;
  padding: 0;
  color: #2e2e2e;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: SF Pro Display;
}

.curso-text h3 {
  font-size: 16px;
  margin-top: 0;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 600;
  font-family: SF UI Display;
}

.curso img {
  width: 255px;
  height: 150px;
}

.curso-text p {
  color: #000000;
  font-family: SF Pro display;
  padding: 5px;
  background-color: #ffe476;
  width: max-content;
  font-size: 13px;
  font-weight: 600;
}

.curso-text h4 {
  font-family: SF Pro Display;
  display: flex;
  color: #2e2e2e;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  align-items: center;
}

.header-secao-cursos {
  margin-left: 150px;
  margin-right: 150px;
}

.header-secao-cursos p {
  font-size: 23px;
  font-weight: 700;
  font-family: Space Grotesk;
  margin-bottom: 30px;
  border-bottom: 1px solid #00000040;
  padding-bottom: 20px;
}

.secao-cursos {
  margin-top: 50px;
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
}

.grade-cursos-destaque h3 {
  font-size: 16px;
  margin-top: 0;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-family: SF UI Display;
}

.grade-cursos-destaque h4 {
  font-family: SF Pro Display;
  display: flex;
  color: #2e2e2e;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  align-items: center;
}

.grade-cursos-destaque p {
  color: #000000;
  font-family: SF Pro display;
  padding: 5px;
  background-color: #ffe476;
  width: max-content;
  font-size: 13px;
  font-weight: 600;
}

.cont-catalog {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.cont-box {
  background-color: #ffd83b;
  width: 100%;
  display: flex;
  gap: 200px;
  justify-content: space-between;
  height: 170px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00000040;
}

.cont-box p {
  font-family: Space grotesk;
  color: #000000;
  display: flex;
  font-size: 20px;
  justify-content: center;
  font-weight: 500;
  width: 550px;
  margin-left: 50px;
  align-items: center;
  height: 100%;
}

.cont-box img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 170px;
  border: 1px solid #00000040;
}

#mensagem {
  transition: all 0.52s;
  background: #ffd83b;
  color: #000000;
  font-size: 18px;
  border-radius: 5px;
  font-family: Space grotesk;
  border: #00000040 solid 1px;
  position: fixed;
  top: -150px;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  left: 25%;
  opacity: 0;
}

#mensagem.ver {
  top: 75px;
  opacity: 1;
}

footer {
  background-color: #fcfcfc;
  font-family: Space grotesk;
  border-top: 1px solid #000000;
}

footer .center{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
}

.footer-col-1 {
  padding-right: 50px;
  min-width: 200px;
}

.footer-col {
  display: flex;
  gap: 50px;
  border-right: 1px solid #000;
}

.footer-col-1 h1 {
  font-size: 16px;
  color: #000000;
}

.footer-col-1 a {
  font-size: 15px;
  text-decoration: none;
  display: block;
  margin-top: 13px;
  color: #000000;
}

.footer-img img {
  width: 150px;
}

@media screen and (max-width: 700px){
  .menu-mobile,
  .menu-close{
    display: block;
  }

  .menu-close{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  nav.navLinks{
    justify-content: space-between;
  }
  
  .nav-links{
    position: absolute;
    right: -250px;
    top: -13px;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    transition: right 0.5s;
  }

  .nav-links ul{
    flex: 0;
    width: 100%;
    z-index: 999;
  }

  .nav-links ul li{
    margin-right: 0;
    display: block;
    text-align: center;
  }

  .nav-links ul a{
    padding: 20px 0;
    display: block;
  }

  .nav-links ul a:hover{
    background: #f0f0f0;
  }

  .menu-2{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    padding-top: 30px;
  }

  .menu-2-login{
    margin-top: 20px;
  }

  .menu-2-nova-conta{
    position: absolute;
    bottom: 20px;
  }

  footer .center{
    flex-direction: column;
    padding: 0;
  }

  .footer-col{
    border-right: none;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px 0 10px;
  }

  .footer-col-1{
    padding: 0;
    min-width: auto;
  }

  .footer-col-1 h1{
    font-size: 15px;
  }

  .footer-col-1 a{
    font-size: 11px;
  }

  .footer-img img{
    width: 100px;
  }
}

@media screen and (max-width: 500px){
  .usuario{
    width: 80%;
  }
}